---
import Greeting from '../components/Greeting'
import BaseLayouts from '../layouts/BaseLayouts.astro'
const pageTitle = 'Home Page'
---

<BaseLayouts pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<Greeting client:load messages={['Hi', 'Hello', 'Howdy', 'Hey there']} />
</BaseLayouts>
